<%- include('header'); %>

<div class="form">
<form class="contactform" method="post">
  <label for="message">message</label><br>
  <textarea id="message"></textarea><br>
  <input type="submit" value="Send">
</form>
</div>

<p>Louvre<br>
  Rue de Rivoli, 75001 Paris, France <br>
</p>

<%- include('footer'); %>
