<%- include('header'); %>

<p class="louvre">Louvre</p>

  <p><br>
  A collection of some of the most expensive paintings in existence.
</p>

<div class="voorbladdiv">
  <img class="voorblad" src="/images/foto1.jpg" alt="MONA LISA">
</div>

<%- include('footer'); %>
